<div class="container-fluid">
  <div class='row'>
    <div class='col-12 text-center'>
      <br>
      <h2>Posts</h2>
      <br>
    </div>
    <div class='col-12'>
      <div class='row'>
        {{#each posts as |post|}}
        <div class='col-12 col-md-6 col-lg-4'>
          <div class='card blog-post-card' onclick='location.assign("/blog/{{post.link}}")'>
            <div class='card-header'>
              <h5 class="card-title">{{post.title}}</h5>
              <h6 class='card-subtitle font-weight-light mb-2 text-muted'>{{post.subtitle}}</h6>
            </div>
            <div class="card-body">
              <p class="card-text">{{post.description}}</p>
            </div>
            {{#if post.labels}}
              <div class='card-footer text-muted'>{{post.labelString}}</div>
            {{/if}}
          </div>
        </div>
      {{/each}}
      </div>
    </div>
  </div>
</div>
